{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle( 'papertiger\\mediamanager\\assetbundles\\mediamanager\\MediaManagerAsset' ) %}
{% do view.registerAssetBundle( 'papertiger\\mediamanager\\assetbundles\\synchronizecpsection\\SynchronizeCPSectionAsset' ) %}

{% set title              = 'Synchronize' %}
{% set pluginCpUrl        = url( 'mediamanager' ) %}
{% set selectedSubnavItem = 'synchronize' %}
{% set crumbs             = [ { label: 'Media Manager', url: url( pluginCpUrl ) } ] %}

{% set siteGroups = [] %}
{% set sites = craft.app.sites.getAllSites() %}
{% for site in sites %}
    {% set siteGroups = siteGroups | merge( [ { 'label': site.name, 'value': site.id } ] ) %}
{% endfor %}

{% set validatedShows = 0 %}
{% if shows | length %}
    {% for show in shows %}
        {% if show.apiKey %}
            {% set validatedShows = validatedShows + 1 %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block sidebar %}
    {% if craft.mediaManagerReady() %}
        {% if shows | length %}
        <nav>
            <ul id="shows">
                <li class="heading"><span>Media Entries</span></li>
                <li>
                    <a data-id="sync-all" href="{{ url(pluginCpUrl) ~ '/synchronize/all' }}" {% if activeShow | length and activeShow.id == 'all' %}class="sel"{% endif %}>Synchronize All Shows</a>
                </li>
                <li>
                    <a data-id="sync-single" href="{{ url(pluginCpUrl) ~ '/synchronize/single' }}" {% if activeShow | length and activeShow.id == 'single' %}class="sel"{% endif %}>Synchronize Single Media</a>
                </li>
                {% for show in shows %}
                    <li>
                        <a data-id="{{ show.id }}" href="{{ url(pluginCpUrl) ~ '/synchronize/' ~ show.id }}" {% if activeShow | length and activeShow.id == show.id %}class="sel"{% endif %}>{{ show.name }}</a>
                    </li>
                {% endfor %}
                <li class="heading"><span>Show Entries</span></li>
                <li>
                    <a data-id="sync-all" href="{{ url(pluginCpUrl) ~ '/synchronize/show-entries' }}" {% if activeShow | length and activeShow.id == 'show-entries' %}class="sel"{% endif %}>Synchronize Show Entries</a>
                </li>
            </ul>
        </nav>
        {% endif %}

        <div class="buttons">
            <a href="{{ pluginCpUrl }}/shows" id="manageshowbtn" class="btn " tabindex="0">Manage show</a>
        </div>
    {% endif %}
{% endblock %}

{% set content %}
    
    {% if not craft.mediaManagerReady() %}
        {% include 'mediamanager/_settingsrequired' %}
    {% else %}
        {% if activeShow | length %}

            {% switch activeShow.id %}
                {% case 'all' %}
                
                    <div class="field first" id="group-field">
                        <div class="heading">
                            <label id="group-label" for="group">Synchronize All Show : {{ validatedShows }} valid show{{ validatedShows > 1 ? 's' : '' }} available to sync</label><br><br>
                        </div>

                        {% if validatedShows | length %}
                        <ol>
                            {% for show in shows %}
                                {% if show.apiKey %}
                                    <li>{{ show.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol><br/>
                        {% endif %}

                        {{ forms.checkboxField({
                            first: false,
                            label: "Force regenerate thumbnail"|t('media-manager'),
                            instructions: "System will replace existing thumbnail if Media Asset already exists."|t('media-manager'),
                            id: 'forceRegenerateThumbnail',
                            name: 'forceRegenerateThumbnail',
                            errors: '',
                            classname: 'first',
                            autofocus: true,
                            required: false,
                        }) }}
                        <div class="heading">
                            <div class="instructions"><p>Clicking the button below will retrieve Assets from PBS API and update associated Media entries with the latest data.</p></div>
                            <div class="instructions"><p>After clicking, please wait until the blue notification is visible. It may take a while.</p></div>
                        </div>
                    </div>

                    <div id="syncrhonizeallbtn" class="btn submit" tabindex="1">{{ 'Update All Media'|t('media-manager') }}</div>

                {% case 'single' %}
                
                    <div class="field first" id="group-field">
                        <div class="heading">
                            <label id="group-label" for="group">Synchronize Single Media</label><br><br>
                            <div class="instructions"><p>Clicking the button below will retrieve Assets from PBS API and update associated Media entries with the latest data.</p></div>
                            <div class="instructions"><p>After clicking, please wait until the blue notification is visible. It may take a while.</p></div>
                        </div>
                    </div>

                    {{ forms.textField({
                        first: true,
                        label: "Media Asset API Key"|t('media-manager'),
                        instructions: "PBS Media API Key used by this media asset."|t('media-manager'),
                        id: 'apiKey',
                        name: 'apiKey',
                        value: activeShow.apiKey,
                        placeholder: 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX',
                        errors: '',
                        autofocus: true,
                        required: true,
                    }) }}
                    {{ forms.checkboxField({
                        first: false,
                        label: "Force regenerate thumbnail"|t('media-manager'),
                        instructions: "System will replace existing thumbnail if Media Asset already exists."|t('media-manager'),
                        id: 'forceRegenerateThumbnail',
                        name: 'forceRegenerateThumbnail',
                        errors: '',
                        autofocus: true,
                        required: false,
                    }) }}
                    {{ forms.selectField({
                        first: false,
                        label: "Media Asset's Site",
                        instructions: "Site associated with this media asset."|t('media-manager'),
                        id: 'siteId',
                        name: 'siteId[]',
                        options: siteGroups,
                        value: activeShow.siteId,
                        required: true,
                    }) }}

                    <div id="addshowsite" class="btn add icon" tabindex="0">Add Show's Site</div> <br/><br/>
                    <div id="syncrhonizesinglebtn" class="btn submit" tabindex="1">{{ 'Update Media'|t('media-manager') }}</div>

                {% case 'show-entries' %}
                
                    <div class="field first" id="group-field">
                        <div class="heading">
                            <label id="group-label" for="group">Synchronize Show Entries : {{ validatedShows }} valid show{{ validatedShows > 1 ? 's' : '' }} available to sync</label><br><br>
                        </div>

                        {% if validatedShows | length %}
                        <ol>
                            {% for show in shows %}
                                {% if show.apiKey %}
                                    <li>{{ show.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol><br/>
                        {% endif %}
                    </div>

                    <div id="syncrhonizeshowentriesbtn" class="btn submit" tabindex="1">{{ 'Synchronize Show Entries'|t('media-manager') }}</div>

                {% default %}

                    {% if activeShow.apiKey | length %}
                
                        <div class="field first" id="group-field">
                            <div class="heading">
                                <label id="group-label" for="group">Synchronize Media Entries : {{ activeShow.name }}</label><br><br>
                            </div>

                            {{ forms.checkboxField({
                                first: false,
                                label: "Force regenerate thumbnail"|t('media-manager'),
                                instructions: "System will replace existing thumbnail if Media Asset already exists."|t('media-manager'),
                                id: 'forceRegenerateThumbnail',
                                name: 'forceRegenerateThumbnail',
                                errors: '',
                                autofocus: true,
                                required: false,
                            }) }}
                            <div class="heading">
                                <div class="instructions"><p>By clicking button bellow will retrieve Assets from PBS API and update associated Media entries with latest data.</p></div>
                                <div class="instructions"><p>After clicking, please wait until blue notification visible, it may takes a while.</p></div>
                            </div>
                        </div>
                        {{ forms.hidden({
                            id: 'showId',
                            name: 'showId',
                            value: activeShow.id
                        }) }}
                        {{ forms.hidden({
                            id: 'name',
                            name: 'name',
                            value: activeShow.name
                        }) }}
                        <div id="syncrhonizeshowbtn" class="btn submit" tabindex="1">{{ 'Update All Media'|t('media-manager') }}</div>
                        
                    {% else %}
                        {% if not activeShow.id and not activeShow.apiKey and not activeShow.name and not activeShow.siteId %}
                            Nothing to see here, you might want to create New Show first. <br/><br/>
                            <a href="{{ url(pluginCpUrl) ~ '/shows/' }}" class="btn submit">Create New Show</a>
                        {% else %}
                            To start Synchronize, you need to set a valid API ID for <strong>{{ activeShow.name }}</strong> first. <br/><br/>
                            <a href="{{ url(pluginCpUrl) ~ '/shows/' ~ activeShow.id }}" class="btn submit">Set API Key Now</a>
                        {% endif %}
                    {% endif %}
            {% endswitch %}
            
        {% else %}
            Nothing to see here, you might want to create New Show first.
        {% endif %}
    {% endif %}
    <span></span>

{% endset %}

{% js on ready %}
    new Craft.SynchronizeAdmin();
{% endjs %}
