<div id="customshowfieldlayout" class="customshowfieldlayout showfieldlayoutform">

    <div class="fld-tabs">

        {% for tabName, tabFields in settings.showFieldLayout %}
            <div class="fld-tab">
                <div class="tabs">
                    <div class="tab sel draggable">
                        <span>{{ tabName | e }}</span>
                        <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
                    </div>
                </div>
                <div class="fld-tabcontent">
                    {% for field in tabFields %}
                        <div class="fld-field" data-id="{{ field }}">
                            <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
                            <span title="{{ field }}">{{ field }}</span>
                            <input type="hidden" class="id-input" name="showFieldLayout[{{tabName|e('url')}}][]" value="{{ field }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
    </div>
    <div class="newtabbtn-container">
        <button type="button" class="btn add icon" tabindex="0">New Tab</button>
        <h3>…Or use one of your field groups as a starting point:</h3>
    </div>

    <div class="unusedfields">
        {% for group in groups %}
            {% set totalUnselected = 0 %}
            {% for field in group.fields %}
                {% if field.handle not in showSettingFields %}
                    {% set totalUnselected = totalUnselected + 1 %}
                {% endif %}
            {% endfor %}

            <div class="fld-tab unused{% if totalUnselected == 0 %} hidden{% endif %}">
                <div class="tabs">
                    <div class="tab sel draggable"><span>{{ group.name }}</span></div>
                </div>
                <div class="fld-tabcontent">
                    {% for field in group.fields %}
                        {% set selected = field.handle in showSettingFields %}
                        <div class="fld-field unused{% if selected %} hidden{% endif %}" data-id="{{ field.handle }}">
                            <span title="{{ field.handle }}">{{ field.handle }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>